streamlit
langchain
langchain-community
langchain-google-vertexai
google-cloud-aiplatform
vertexai
firebase-admin
streamlit-authenticator
sentence-transformers
PyPDF2
chromadb
google-generativeai
langchain-google-genai
